/* START index.html STYLING */
#homepage-1 {
    background: url(../assets/images/building.jpg);
    background-position-y: 31%;
    padding: 4%;
    text-align: center;
}

#homepage-1 header {
    font-size: var(--size-40);
}

#homepage-1 div {
    background: rgba(0, 0, 0, 0.5);
    padding: 2% 16%;
}

#homepage-1 div > * {
    color: white;
    margin: 3% 0;
}

#homepage-1 div header {
    font-weight: 700;
}
/* END index.html STYLING */

/* START about.html STYLING */
#about-page-nav ul {
    justify-content: center;
}

#about-page-nav ul li a {
    padding-bottom: 0;
    border-bottom: none;
}

#about-page-nav ul li a:hover {
    padding-bottom: 0;
    border-bottom: none;
    color: var(--theme-color-two);
    cursor: pointer;
}

#about-1 {
    display: flex;
    justify-content: space-around;
    padding: var(--size-16) 0;
}

#about-1-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-1-texts header {
    text-align: left;
}

#about-2 .page-header {
    text-align: center;
}

.pastor-bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pastor-bio img {
    border: 8px solid var(--theme-color-three);
}

.pastor-bio div {
    padding: 4%;
}

.pastor-bio div p {
    text-align: right;
    line-height: var(--size-40);
}

#about-2 header {
    text-align: right;
}

#about-3 {
    text-align: center;
}

.deacons-container {
    row-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.deacons-container div header {
    font-weight: 700;
}

#about-3,
#about-4,
#about-5 {
    text-align: center;
    padding: 0 var(--size-64);
}

#about-4 a,
#about-5 a {
    color: var(--theme-color-two);
}

#about-4 a:hover,
#about-5 a:hover {
    color: var(--theme-color-one);
}
/* END about.html STYLING */

/* START contact.html STYLING */
.contact-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 var(--size-56)
}

.contact-one {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
}

.contact-page-social-icons-container {
    margin: 7% 0 0 0;
}

.contact-page-social-icons-container a i {
    color: var(--theme-color-two);
}

.contact-page-social-icons-container a i:hover {
    color: var(--theme-color-three);
}

.contact-container header {
    font-size: 32px;
    color: var(--default-text-color);
}

.contact-container header span a,
.contact-container header span {
    color: var(--theme-color-two);
}

.contact-page-social-icons-container a {
    font-size: var(--size-40);
    margin-right: var(--size-40);
}

.contact-page-social-icons-container a:last-child {
    margin-right: 0;
}

.contact-two header {
    text-align: center;
}

form {
    display: grid;
    row-gap: var(--size-16);
    text-align: left;
}

form label {
    font-family: var(--main-font);
    text-transform: uppercase;
    color: var(--default-text-color);
    font-size: var(--size-24);
}

form div input,
form div textarea {
    font-family: var(--main-font);
    padding: var(--size-8);
    width: 100%;
    font-size: var(--size-16);
}

form button {
    width: 103%;
    background-color: var(--theme-color-one);
    text-transform: uppercase;
    padding: 2%;
    border: 4px solid transparent;
    color: var(--default-text-color-reverse);
    font-size: var(--size-24);
}

form button:hover {
    background-color: transparent;
    border: 4px solid var(--theme-color-one);
    cursor: pointer;
    color: var(--default-text-color);
}
/* END contact.html STYLING */

/* START resources.html STYLING */
#resources-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 48px;
}

#resources-1 a {
    background-color: var(--theme-color-three);
    padding: 24px;
    text-align: center;
    color: var(--default-text-color);
    align-items: center;
    justify-content: center;
    display: flex;
}

#resources-1 a:hover {
    opacity: 0.8;
}

#resources-2 {
    display: flex;
    justify-content: space-evenly;
}

#resources-2 .page-header {
    text-align: center;
}

#resources-2 div:last-child {
    margin: 0;
}

#resources-2 a {
    color: var(--default-text-color);
}

#jim-myers-sites a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* END resources.html STYLING */